<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 30px">
  <a class="navbar-brand" href="{% url 'serviceForm:formarea' %}">首頁</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'serviceForm:category' %}">Link <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          選單管理
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">醫院</a>
          <a class="dropdown-item" href="#">機器</a>
{#          <a class="dropdown-item" href="#">項目總類</a>#}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'serviceForm:category' %}">項目總類</a>
          <a class="dropdown-item" href="#">故障項目</a>
          <a class="dropdown-item" href="#">檢修內容</a>
        </div>
      </li>
{#      <li class="nav-item">#}
{#        <a class="nav-link disabled" href="#">Disabled</a>#}
{#      </li>#}
    </ul>

  </div>
</nav>